.favoris{
    background-color: rgb(196, 196, 196);
    padding-top: 5rem;
    padding-bottom: 1rem;
    min-height: 100vh;
    
    span{
        font-size: 20px;
    }

    .blog-post{
        display: flex;
        flex-direction: row;
        margin: 0rem 9rem 5rem 9rem;
        justify-content: center;
        align-items: center;
        background-color: white;
        border-radius: 10px;
    }
    .blog-post-img{
        flex: 1;
        padding: 2rem 2rem 2rem 0rem;
    }
    .blog-post-img>img{
        width: 100%;
        height: 100%;
        border-radius: 0.3rem;
        object-fit: cover;
        transform: translateX(-50px);
        box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, .5);
    }
    .blog-post-info{
        flex: 2;
        padding: 2rem;
        p{
            font-size: 1rem;
            padding-bottom: 2rem;
        }
    }
    .blog-post-title h2{
        padding-bottom: .5rem;
        color: #673AB7;
        text-transform: uppercase;
        font-size: 1.8rem;
    }
    .blog-post-read-more button{
        font-size: 1.2rem;
        cursor: pointer;
        text-decoration: none;
        font-style: normal;
        border-radius: .3rem;
        padding: .5rem;
        background-color: #fff;
        border: 1px solid #673AB7;
        color: #673AB7 !important;
        box-shadow: 0 0.05em .1em rgba(0, 0, 0, .25);
    }
    .like{
        height: 45px;
        cursor: pointer;
    }
    .blog-post-read-more button:hover{
        transition: .5s;
        background-color: #673AB7;
        border: 1px solid #673AB7;
        color: #fff !important;
        text-decoration: none;
    }
    .blog-post-read-more {
        display: flex;
        justify-content: space-between;
    }
    
    @media only screen and (max-width: 1000px){
        .blog-post{
            display: flex;
            flex-direction: row;
            margin: 0rem 6rem 4rem 6rem;
            justify-content: center;
            align-items: center;
            background-color: white;
        }
        .blog-post-img{
            flex: 1;
            padding: 2rem 2rem 2rem 0rem;
        }
        .blog-post-img>img{
            width: 100%;
            height: 100%;
            border: 0.3rem;
            object-fit: cover;
            transform: translateX(-50px);
            box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, .5);
        }
        .blog-post-info{
            flex: 2;
            padding: 2rem;
        }
    }
    
    @media only screen and (max-width: 768px){
        .blog-post{
            display: flex;
            flex-direction: row;
            margin: 0rem 4rem 4rem 4rem;
            justify-content: center;
            align-items: center;
            background-color: white;
        }
        .blog-post-img{
            flex: 1;
            padding: 2rem 2rem 2rem 0rem;
        }
        .blog-post-img>img{
            width: 100%;
            height: 100%;
            border: 0.3rem;
            object-fit: cover;
            transform: translateX(-50px);
            box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, .5);
        }
        .blog-post-info{
            flex: 2;
            padding: 2rem;
        }
    }
    
    @media only screen and (max-width: 650px) {
        .blog-post{
            display: flex;
            flex-direction: column;
            margin: -1rem 1rem 5rem 1rem;
            justify-content: center;
            align-items: center;
            background-color: white;
        }
        .blog-post-img{
            flex: 1;
            padding: 0rem 1rem 0rem 1rem;
        }
        .blog-post-img>img{
            width: 100%;
            height: 100%;
            border: 0.3rem;
            object-fit: cover;
            transform: translateY(-20px);
            box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, .5);
        }
        .blog-post-info{
            flex: 2;
            padding: 0rem 1rem 2rem 1rem;
        }
    }
}