.sidebar-admin {
  flex: 1;
  height: calc(100vh - 50px);
  background-color: rgb(251, 251, 255);
  position: sticky;
  top: 50px;
}

.sidebar-admin .sidebarWrapper {
  padding: 20px;
  color: #555;
}

.sidebar-admin .sidebarMenu {
  margin-bottom: 10px;
}

.sidebar-admin .sidebarTitle {
  font-size: 13px;
  color: rgb(187, 186, 186);
}

.sidebar-admin .sidebarList {
  list-style: none;
  padding: 5px;
}

.sidebar-admin .sidebarListItem {
  padding: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 10px;
}

.sidebar-admin .sidebarListItem.active,
.sidebar-admin .sidebarListItem:hover {
  background-color: rgb(240, 240, 255);
}

.sidebar-admin .sidebarIcon{
    margin-right: 5px;
    font-size: 20px !important;
}
